@model FinalGradutionProjectAPI.Models.CVTechnology

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CVTechnology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CV.Objective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV.Objective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVTechnologiesExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVTechnologiesExperience)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
